* {
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
*:focus {
  outline: 2px dotted #7296ec;
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}

img {
  max-width: 100%;
  height: auto;
}


/* Button */
.button {
  display: inline-block;
  border: 0;
  border-radius: 10px;
  padding: 13px 20px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}


.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button-primary {
  background-color: #7296ec;
  color: #fff;
}

.button-orange {
  background-color: #f78b3b;
  color: #fff;
}

/* Container */
.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* Site header */

/* Site header top */
.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
}

.site-header-top-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  display: flex;
  padding: 8px 6px;
  margin-right: 35px;
  border-radius: 7px;
  background-color: #fff;
}

.site-header-logo:hover {
  opacity: 0.8;
}

.site-header-logo:active {
  opacity: 0.6;
}


/* Currency rates */
.currency-rates {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}

.currency-rates-type {
  color: #2959cf;
}

/* Gloabl search form */
.global-search-form {
  margin-right: 35px;
}

.global-search-form-input {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 40px;
  padding-right: 20px;
  border-radius: 60px;
  border: 0;
  font-size: 14px;
  line-height: normal;
}


/* Language Toggle */
.lang-toggle {
  display: flex;
  padding: 3px;
  margin-right: 25px;
  border-radius: 39px;
  background-color: #dce6ff;
}

.lang-toggle-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;
  color: #a6a6a6;
  text-align: center;
  text-decoration: none;
}

.lang-toggle-link-active {
  background-color: #fff;
  color: #000;
}

/* Sitenav */

.sitenav {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d1d1d1;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.sitenav-item:not(:last-child) {
  margin-right: 34px;
}

.sitenav-link {
  display: block;
  text-decoration: none;
  color: #7f7f7f;
}

.sitenav-link:hover {
  color: #7296ec;
}

.sitenav-link:active {
  opacity: 0.6;
}


/* Site header banner */
.site-header-banner-link {
  display: flex;
}



/* Main Content */

.main-content {
  flex-grow: 1;
  padding-top: 50px;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.news-grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-direction: column;
  padding: 20px 17px 15px;
  border-radius: 15px;
  background-color: #f6f6f6;
}

.articel-card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.article-card-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.article-card-link:hover {
  color: #7296ec;
}

.article-card-link:active {
  opacity: 0.6;
}

.article-card-text {
  margin-top: 0;
  margin-bottom: 15px;
}

.article-card-img {
  display: block;
  width: 360px;
  height: 165px;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 15px;
  object-fit: cover;
}

.article-card-footer {
  display: flex;
  align-items: center;
}

.article-card-src-icon {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.article-card-src-time {
  font-size: 12px;
  line-height: normal;
  color: #5e5f61;
}


/* Notifications */
.notification-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 75px;
  padding: 25px 70px 25px 25px;
  border-radius: 10px;
  background-color: #ffd7ba;
}

.notification-cta-text {
font-size: 20px;
font-weight: 500;
line-height: 26px;
color: #000;
}
